/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/ie/atu/Hotel_User_Info.class
/target/test-classes/ie/atu/Hotel_User_Info_Test.class
/target/surefire-reports/ie.atu.Hotel_User_Info_Test.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/jacoco.exec
/target/surefire-reports/TEST-ie.atu.Hotel_User_Info_Test.xml
